<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Reset Password Email</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <main class="page-wrapper">
        <section class="email-card">
            <div class="mobile-hero-image">
                <div class="mobile-overlay-text">
                    <h2>Welcome to Meet <span>Mind</span></h2>

                    <p>Designing intelligence that knows how to speak</p>
                </div>
                <img src="./assets/images/bg-img.jpg" alt="Mobile Background Image" />
            </div>

            <div class="email-content">
                <div class="logo-wrapper">
                    <img src="./assets/icons/meetmind-logo.svg" alt="MeetMind Logo" />

                    <span class="logo-text"> Meet<span>Mind</span> </span>
                </div>

                <!-- Desktop Icon -->
                <div class="status-icon desktop-status-icon">
                    <img src="./assets/icons/checkmark.svg" alt="Success Icon" />
                </div>

                <!-- Mobile Icon -->
                <div class="status-icon password-icon mobile-status-icon">
                    <img src="./assets/icons/lock-keyhole.svg" alt="Lock Icon" />
                </div>

                <div class="hero-text">
                    <h1>Reset your password</h1>

                    <p>
                        We received a request to reset the password for your MeetMind
                        account.
                    </p>
                </div>

                <!-- RESET BODY -->
                <div class="email-body reset-body">
                    <h2>Hi {{name}}</h2>

                    <p class="reset-description">
                        use the code below to reset your password. Do not share it with
                        anyone.
                    </p>

                    <div class="expiry-badge">Expires in 30 minutes</div>

                    <div class="cta-wrapper reset-button-wrapper">
                        <a href="#" class="cta-button"> Reset my password </a>
                    </div>

                    <div class="otp-section">
                        <p class="otp-label">Your one-time code</p>

                        <div class="otp-boxes">
                            <div class="otp-box">7</div>
                            <div class="otp-box">3</div>
                            <div class="otp-box">6</div>
                            <div class="otp-box">9</div>
                            <div class="otp-box">4</div>
                            <div class="otp-box">4</div>
                        </div>

                        <p class="otp-expiry">Expires in 10 minutes · Single use only</p>
                    </div>

                    <div class="warning-box">
                        <img src="./assets/icons/triangle-alert.svg" alt="Warning Icon" />

                        <p>
                            If you didn’t request a password reset, you can safely ignore
                            this email. Your password won’t change.
                        </p>
                    </div>
                </div>

                <div class="email-footer">
                    <a href="#">Help center</a>
                    <a href="#">Security</a>
                    <a href="#">Settings</a>
                    <a href="#">Policy</a>
                    <a href="#">Privacy</a>
                </div>
            </div>
        </section>
    </main>
</body>

</html>